# Configuración SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_NAME=Servidor Escolar de Ajedrez

# Configuración de la aplicación
FRONTEND_URL=http://localhost:5173

# Configuración de la base de datos
MONGODB_URL=mongodb://mongo:27017
DATABASE_NAME=ajedrez_db

# Token de Lichess API
LICHESS_TOKEN=your_lichess_token_here
